<p id="notice"><%= notice %></p>
<meta charset="UTF-8","euc-kr">
<p>
  <strong>Title:</strong>
  <%= @notices.title %>
</p>


<p>
  <strong>Writer:</strong>
  <%= @notices.writer %>
</p>

<p>
  <strong>Link:</strong>
  <%= @notices.link %>
</p>


<p>
  <strong>Created on:</strong>
  <%= @notices.created_on %>
</p>

<%= link_to 'Edit', edit_notice_path(@notices) %> |
<%= link_to 'Back', notices_path 